body {
    display: flex;
    align-items: center;
}

#quadrado {
    background-color: black;
    border: 1px solid black;
    width: 200px;
    height: 200px;
    display: flex;
}

p {
    color: white;
    align-self: center;
    margin-left: 25px;
    font-size: 100px;
}

#button {
    background-color: rgba(25, 215, 82, 0.763);
    border: 2px solid rgb(185, 163, 163);
    width: 50px;
    height: 30px;
    margin-left: 20px;
    border-radius: 10px;
}

#buttonRestart {
    background-color: rgba(215, 31, 25, 0.763);
    border: 2px solid rgb(185, 163, 163);
    width: 50px;
    height: 30px;
    margin-left: 20px;
    border-radius: 10px;
}
