body{
    background-color: black;
    color: aliceblue;
    padding: 50px;
    margin-right: 200px;
}

div{
    padding: 2px;
}

div:hover{
    border: solid 5px white;
    
}

.prim{
    background-color: rgb(229, 255, 0);
    font-style: italic;
}

.sec{
    background-color: rgb(90, 226, 11);
    font-style: italic;


}

.compl{
    background-color: rgb(255, 0, 191);
    font-style: italic;
}

.escu{
    background-color: rgb(4, 107, 107);
    font-style: italic;

}

.clara{
    background-color: deepskyblue;
    font-style: italic;
}

